<?xml version="1.0"?>
<model>
  <name>Baby_k_interaction</name>
  <version>1.0</version>
  <sdf version='1.6'>baby_k_interaction.sdf</sdf>

  <author>
   <name>Salvatore Marcellini and Alessandro De Crescenzo</name>
   <email>salvatore.marcellini@unina.it</email>
  </author>

  <description>
    This is a model of the little koala tilting drone (once known as Leonardo 2) with
    a stick tool for interaction with the environment.
  </description>
</model>
